#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    place-items: center;
}
.country{
    border: 1px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 15px;
}
.country-name{
    color: magenta;
    font-size: 40px;
}
.country-capital{
    color: green;
    font-size: 25px;
}
#countryDetails{
    text-align: center;
    border: 1px solid magenta;
    border-radius: 15px;
    width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
}
#countryDetails img{
    width: 100%;
}
#countryDetails h1{
    color: magenta;
    font-size: 40px;
}
#countryDetails h3{
    color: green;
    font-size: 25px;
}

